<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Stock Alarms</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/navigation :: navigation"/>

<div id="wrap">
    <div class="container">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>List of Alarms</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Stock symbol</th>
                        <th>Starting price</th>
                        <th>Target price</th>
                        <th>Active</th>
                        <th width="20%">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="alarm : ${alarms}">
                        <td th:text="${alarm.stock.symbol}"></td>
                        <td th:text="${alarm.startPrice}"></td>
                        <td th:text="${alarm.endPrice}"></td>
                        <td>
                            <span th:if="${alarm.isActive()}">YES</span>
                            <span th:unless="${alarm.isActive()}">NO</span>
                        </td>

                        <td>
                            <a type="button" class="btn btn-danger"
                               th:href="@{/delete-alarm(id=${alarm.stock.id})}">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
    <!-- /.container -->


</div>


<div th:replace="fragments/footer :: footer"/>


</body>
</html>
