<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
</head>
<body>
<div th:fragment="footer">
    <!--this is footer-->
    <!--<div class="footer">-->
        <!-- Footer -->
        <!--<footer class="footer ">-->

            <!--&lt;!&ndash; Copyright &ndash;&gt;-->
            <!--<div class="footer-copyright text-center py-3">© 2019 Copyright-->
            <!--</div>-->
            <!--&lt;!&ndash; Copyright &ndash;&gt;-->

        <!--</footer>-->
        <!-- Footer -->
    <!--</div>-->

    <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
    <!--<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        $('#targetDate').datepicker({
            format: 'dd/mm/yyyy'
        });
    </script>
</div>
</body>

</html>