<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo app with Spring Boot Thymeleaf + Spring Security </title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/navigation :: navigation"/>

<div id="wrap">
    <div class="container">
        <div>
            <a type="button" class="btn btn-primary btn-md" href="/add-todo">Add Todo</a>
        </div>
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>List of TODO's</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th width="40%">Description</th>
                        <th width="40%">Target Date</th>
                        <th width="20%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="todo : ${todos}">
                        <td th:text="${todo.description}"></td>

                        <td th:text="${#dates.format(todo.targetDate, 'dd-MMM-yyyy')}"></td>

                        <td><a type="button" class="btn btn-success"
                               th:href="@{/update-todo(id=${todo.id})}">Update</a>
                            <a type="button" class="btn btn-warning"
                               th:href="@{/delete-todo(id=${todo.id})}">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
