<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo app with Spring Boot Thymeleaf + Spring Security </title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/navigation :: navigation"/>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 ">
            <div class="panel panel-primary">
                <div class="panel-heading">Add TODO</div>
                <div class="panel-body">
                    <form method="post" modelAttribute="todo">
                        <fieldset th:if="${#fields.hasErrors('${todo.*}')}" class="text-warning">
                            <legend>Some errors appeared !</legend>
                            <ul>
                                <li th:each="err : ${#fields.errors('todo.*')}" th:text="${err}"></li>
                            </ul>
                        </fieldset>

                        <input type="hidden" th:field="*{todo.id}">
                        <fieldset class="form-group">
                            <label for="description">Description</label>
                            <!--<input path="description" type="text" class="form-control"-->
                            <!--required="required" />-->
                            <input type="text" name="description" id="description" class="form-control input-lg"
                                   placeholder="Description" th:field="*{todo.description}" required="required" autofocus="true"/>

                            <errors path="description" cssClass="text-warning"/>
                        </fieldset>

                        <fieldset class="form-group">
                            <label>Target Date</label>
                            <input id="targetDate" name="targetDate" type="text" class="form-control"
                                   th:field="*{todo.targetDate}" required="required"/>
                            <errors path="targetDate" cssClass="text-warning"/>
                        </fieldset>

                        <button type="submit" class="btn btn-success">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
