<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Todo app with Spring Boot Thymeleaf + Spring Security </title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/navigation :: navigation"/>

<div class="container">

    <div class="panel panel-primary">
        <div class="panel-heading">Home Page</div>
        <div class="panel-body">
            <h3>Welcome <span th:text="${username}">!</span></h3>
            <hr>
            <p>
            <a href="/list-stocks">Click here</a> to manage your
            stocks.
                </p>
            <p>
            <a href="/list-alarms">Click here</a> to manage your
            alarms.
            </p>
        </div>
    </div>
</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
